.carousel-container {
   padding: 6% 0;
}

.movie-slider h3 {
   padding: 0 1.5rem;
   margin-bottom: 0;
   font-weight: bold;
}
@media (max-width: 465px) and (min-width: 786px) {
   .carousel-container {
      padding: 4.5% 0;
   }
}
@media (min-width: 1025px) {
   .carousel-container {
      padding: 2% 0;
   }
}
