.logo {
   margin-top: 1.5rem;
   width: 9.25rem;
   height: 2.5rem;
   color: rgb(229, 9, 20);
   fill: currentColor;
   display: block;
}

.bg-body-tertiary {
   background-color: #000 !important;
}
.navbar__wrap {
   background: #000 !important;
}
.nav-link {
   color: #fff !important;
   padding-bottom: 1.2rem;
   padding-left: 1rem;
}
.form-control {
   color: #666 !important;
   background: #222 !important;
   border: 1px solid #666 !important;
}
.form-control::placeholder {
   color: #666 !important;
}
.navbar-toggler-icon {
   filter: invert(100%);
}
